<!doctype html>
<html data-framework="vue">
	<head>
		<meta charset="utf-8">
		<title>Vue.js • bookMVC</title>
		<link rel="stylesheet" href="node_modules/bookmvc-common/base.css">
		<link rel="stylesheet" href="node_modules/bookmvc-app-css/index.css">
		<style> [v-cloak] { display: none; } </style>
	</head>
	<body>
		<section class="bookapp" v-cloak>
			<header class="header">
				<h1>BookApp</h1>
				<input class="new-book" autofocus autocomplete="off" placeholder="Какую книгу Вы прочли?" v-model="newbook" @keyup.enter="addbook">
			</header>
			<section class="main" v-show="books.length">
				<input id="toggle-all" class="toggle-all" type="checkbox" v-model="allDone">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="book-list">
					<li class="book" v-for="book in filteredbooks" :key="book.id" :class="{completed: book.completed, editing: book == editedbook}">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="book.completed">
							<label @dblclick="editbook(book)">{{book.title}}</label>
							<button class="destroy" @click="removebook(book)"></button>
						</div>
						<input class="edit" type="text" v-model="book.title" v-book-focus="book == editedbook" @blur="doneEdit(book)" @keyup.enter="doneEdit(book)" @keyup.esc="cancelEdit(book)">
					</li>
				</ul>
			</section>
			<footer class="footer" v-show="books.length">
				<span class="book-count">
					<strong v-text="remaining"></strong> {{pluralize('item', remaining)}} left
				</span>
				<ul class="filters">
					<li><a href="#/all" :class="{selected: visibility == 'all'}">All</a></li>
					<li><a href="#/active" :class="{selected: visibility == 'active'}">Active</a></li>
					<li><a href="#/completed" :class="{selected: visibility == 'completed'}">Completed</a></li>
				</ul>
				<button class="clear-completed" @click="removeCompleted" v-show="books.length > remaining">
					Clear completed
				</button>
			</footer>
		</section>
		<script src="node_modules/bookmvc-common/base.js"></script>
		<script src="node_modules/director/build/director.js"></script>
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="js/store.js"></script>
		<script src="js/app.js"></script>
		<script src="js/routes.js"></script>
	</body>
</html>